/*
   Versão 0.1 - 11/2014
   Autor: Rodolfo Maciel
   Licença: Domínio Público
*/

/* Reset do CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilo Site */
body, html {font-family:Helvetica, sans-serif; font-size:14pt; height:100%;  background-color: #F2F2F2;}
body, header, footer{width:100%;}

/* -- ----- ----------- ----------- ----------- -------------- --------------- ------------- --------------- ----------------- -------------- */
.cb {width:100%; height:115px;}
.cb a, .rd a {text-decoration:none;}
.cb .alincb {width:1152px; margin:0 auto;}

.cb .cbmenu1 {width:100%; height:35px; line-height: 35px; margin:0; padding:0; background-color: #fff; }
.cb .cbmenu1 nav ul {text-align:right; font-size: 14pt;}
.cb .cbmenu1 nav ul li{display:inline-block; height:35px; font-size:12pt; text-align: center; padding: 0 10px;}
.cb .cbmenu1 nav ul li a {text-decoration: none; color:#069; display: inline-block}
.cb .cbmenu1 nav ul li:hover {background-color:#EBE42F; display: inline-block;}
.cb .cbmenu1 nav ul li:hover a{color:#000;}

.cb .cbmenu2 {width:100%; height:70px; line-height: 70px; margin:0; padding:0; background:#333;}
.cb .cblogo{width:345px; float:left; font-size:16pt; font-weight: 700; text-transform: uppercase;}

.cb .cbmenu2 .cblogo a{text-decoration: none; color:#fff; display:inline-block;}
/*.cb .cbmenu {width:807px; float:right;} */
.cb .cbmenu2 {height:70px;}
.cb .cbmenu2 nav ul {text-align:right;}
.cb .cbmenu2 nav ul a {text-decoration:none; color:#fff; display:inline-block; width:110px; height:68px;}
.cb .cbmenu2 nav ul li {width:110px; height:68px; font-size: 12pt;font-weight:700; background:#333; color:#fff; display:inline-block; text-transform: uppercase; text-align: center;}
.cb .cbmenu2 nav ul li:hover {background-color:#EBE42F; box-shadow: 0px 0px 5px #000;}
.cb .cbmenu2 nav ul li:hover a {color:#111;}

/* -- ----- ----------- ----------- ----------- -------------- --------------- ------------- --------------- ----------------- -------------- */
.princ {width:1152px; margin:0 auto;}

.cnt {width:800px; float:left; margin:50px 0; background-color:#fff; border:1px solid #ddd;}
.cnt article {width:80%; margin:50px auto; color: #333; font-family:Georgia, serif;  text-align: justify;}
.cnt article header {background-color: transparent;}
.cnt article header h1 {font-size:24pt; line-height:24pt; margin-bottom: 10px; font-weight: 700; color:#0274be;}
.cnt article header p {font-size:14pt; line-height:21pt; color:#8e3e3e;}
.cnt article header {margin-bottom: 15px;}
.cnt article p {font-size:16pt; line-height: 20pt; margin-bottom:15px;}
.cnt article p a {color:hsl(0, 100%, 39%); text-decoration: none; border-bottom: 2px dotted hsl(0, 100%, 39%);}
.cnt article p a:hover {color:#EBE42F;  border-bottom: 2px dotted #EBE42F;}

.cnt article footer {background-color: transparent;}

.cnt article footer .assinat {width:100%; height:135px; margin-bottom: 10px; border:1px solid #eee; text-align: center; background-color:#333;} 
.cnt article footer .assinat p {margin:20px 0 10px 0; color:#fff; font-size:20pt;} 
.cnt article footer .assinat input[type=email] {display:inline-block; width:280px; margin-right:10px; height:43px; line-height: 43px; font-style: italic; font-size:16pt; text-align: center;} 
.cnt article footer .assinat input[type=button] {display:inline-block; width:215px; margin-right:10px; height:50px; line-height: 50px; font-size:20px; font-weight: 800; background-color:#ebe42f; color:#333; border:none;}

.cnt article footer .oferta {width:100%; height:100px; margin-bottom: 10px; border:1px solid #eee; text-align: center; background-color:#eaeaea;} 
.cnt article footer .oferta p {width:350px; 100px; color:#fff; font-size:16pt; font-weight:700; float:left; margin:25px 0 0 25px;}
.cnt article footer .oferta input[type=button] {display:inline-block; width:215px; height:50px; font-size:20px; font-weight: 700; background-color:#004a14; color:#fff; border:none; float:right; margin:25px 25px 0 0;}

.cnt article footer .coment {width:100%; height:100px; margin-bottom: 10px; border:1px solid #eee; text-align: center; background-color:#7eb0d1;} 
.cnt article footer .coment p {margin:20px 0 5px 0; color:#fff; font-size:16pt; font-weight:700;} 

.cnt article footer .artigos {width:100%; height:100px; margin-bottom: 10px; border:1px solid #eee; text-align: center; background-color:#7eb0d1;} 
.cnt article footer .artigos p {margin:20px 0 5px 0; color:#fff; font-size:16pt; font-weight:700;} 
#saiba {margin:50px 0 0 0; width:100%;}
.paginacao ul {width:80%; margin:0 auto; height:40px; padding-bottom:25px;}
.paginacao ul li {display:inline; font-family:Helvetica, sans-serif; font-size:15pt; text-align: center; padding:10px; border:1px solid #999;}

/* -- ----- ----------- ----------- ----------- -------------- --------------- ------------- --------------- ----------------- -------------- */
.sb {width:345px; float:right; margin-top:50px;}
.sb .sball {width:300px; float:right;}

.assinar {width:100%; height:290px; margin: 0 0 25px 0; border:1px solid #ddd; background-color:#333;}
.sbassin{ width:215px; height:185px; margin:50px auto; text-align: center;}
.sbassin span{ width:100%; font-size:20pt; color:#fff;}
.sbassin input[type=email] {width:100%; height:45px;  margin: 15px 0; font-size:18pt; text-align: center; font-style: italic;}
.sbassin input[type=button] {width:100%; height:50px; background-color: #ebe42f; border:none; font-size:16pt; font-weight:800;}

.ebooks {width:100%;  height:100%; margin: 0 0 25px 0; border:1px solid #ddd; background-color: #f4f4f4;}
.sbebooks { width:215px; margin:25px auto; text-align: center;}
.sbebooks img {width:190px; height:280px; margin-bottom: 15px;}
.sbebooks div {background-color: #333; border:none; font-size:14pt; font-weight:800; padding:10px 20px;}
.sbebooks div a {text-decoration: none; color:#fff;}

.artigos {width:100%; height:100%; margin: 0 0 25px 0; border:1px solid #ddd; background-color: #f4f4f4;}
.sbartigos { width:215px; margin:25px auto; text-align: center;}
.sbartigos img {width:190px; height:280px; margin-bottom: 15px;}
.sbartigos div {background-color: #333; border:none; font-size:14pt; font-weight:800; padding:10px 20px;}
.sbartigos div a {text-decoration: none; color:#fff;}

.cursos {width:100%;  height:100%; margin: 0 0 25px 0; border:1px solid #ddd; background-color: #f4f4f4;}
.sbcursos { width:250px; margin:25px auto; text-align: center;}
.sbcursos img {width:250px; height:220px; margin-bottom: 15px;}
.sbcursos div {background-color: #333; border:none; font-size:14pt; font-weight:800; padding:10px 20px;}
.sbcursos div a {text-decoration: none; color:#fff;}

.webinars {width:100%;  height:100%; margin: 0 0 25px 0; border:1px solid #ddd; background-color: #f4f4f4;}
.sbwebinars { width:260px; margin:25px auto; text-align: center;}
.sbwebinars img {width:260px;  margin-bottom: 15px;}
.sbwebinars div {background-color: #333; border:none; font-size:14pt; font-weight:800; padding:10px 20px;}
.sbwebinars div a {text-decoration: none; color:#fff;}

.ebooks, .webinars, .cursos, .artigos{border:1px solid #e2e2e2;}
/* -- ----- ----------- ----------- ----------- -------------- --------------- ------------- --------------- ----------------- -------------- */
.rd {clear:both; height:70px; line-height: 70px; border:1px solid #e2e2e2;}
.rd .rdlogo{width:345px; float:left; font-size:16pt; font-weight: 700; text-transform: uppercase; }
.rd .rdmenu{width:807px; float:right;}
.rd .rdmenu nav ul {text-align: right;}

.rd .rdlogo a{text-decoration: none; color:#333;}
.rd .rdmenu nav ul a{text-decoration:none; color:#333; display:inline-block; height:68px; width:110px;}
.rd .rdmenu nav ul li{height:68px; width:110px; font-size: 12pt;font-weight:700; color:#333; display:inline-block; text-transform: uppercase; text-align: center;}
.rd .rdmenu nav ul li:hover {background-color:#EBE42F; box-shadow: 0px 0px 2px #000;}
.rd .rdmenu nav ul li:hover a{color:#111;}

.rd .cbmenu1 {width:100%; height:35px; line-height: 35px; margin:0; padding:0; clear: both;}
.rd .alincb {width:1152px; margin:0 auto;}
.rd .cbmenu1 nav ul {text-align:right; font-size: 14pt;}
.rd .cbmenu1 nav ul li{display:inline-block; height:35px; font-size:12pt; text-align: center; padding: 0 10px; margin: 0;}
.rd .cbmenu1 nav ul li a {text-decoration: none; color:#069; display: inline-block}
.rd .cbmenu1 nav ul li:hover {background-color:#EBE42F;}
.rd .cbmenu1 nav ul li:hover a{color:#000;}