<div class="blinsc">
   <a href="http://eepurl.com/9xcMD"><img src="{{ site.baseurl }}/assets/images/bl-inscricao.png" alt="Inscreva-se na Lista Negócios Digitais"></a>
</div>
<div class="blpalest">
   <a href="http://hotmart.net.br/show.html?a=N2015296F&ap=4ce8&src=SVO-Natanael-Oliveira"><img src="{{ site.baseurl }}/assets/images/aumentar-vendas-15-dias.jpg" alt="Negócios Ativos Geram Mais Vendas" width="320" height="180"></a>
<p>Assista a Palestra do Natanael Oliveira e aprenda como desenvolver um negócio ativo! <a href="http://hotmart.net.br/show.html?a=N2015296F&ap=4ce8&src=SVO-Natanael-Oliveira">Quero Assistir Agora!</a></p>
</div>
<div class="bllivro">
	<a href="https://doc-0c-6g-docs.googleusercontent.com/docs/securesc/qfmgqioocq9b3ev458viqj80s4k8hbnq/l311rrk6vls00vamja2jg2ihtjsipp70/1417435200000/16356551485414944391/16356551485414944391/0ByVJ099IpTricnVKeEltNGlEbnc?e=download"><img src="{{ site.baseurl }}/assets/images/capa-ijumper.jpg" alt="Livro Online iJumper" width="280" height="396"></a>
   <div id="pname">Altamente Recomendado</div>
   <div id="pperfil">
   <p>Esse livro me ajudou a entender como funciona o universo dos negócios digitais. É leitura obrigatória. <a href="https://doc-0c-6g-docs.googleusercontent.com/docs/securesc/qfmgqioocq9b3ev458viqj80s4k8hbnq/l311rrk6vls00vamja2jg2ihtjsipp70/1417435200000/16356551485414944391/16356551485414944391/0ByVJ099IpTricnVKeEltNGlEbnc?e=download">Baixe gratuitamente!</a></p>
   </div>
</div>
<div class="blart">
   <header>
      <span>ARTIGOS RECOMENDADOS</span>
   </header>
   <div>
      <ul> 
        <li><a  href="http://hotmart.net.br/show.html?a=G2317688F&ap=0115&src=Metodo-Start">Como Encontrar Um Segmento de Mercado Para Atuar com Sucesso com Gustavo Freitas</a></li>
        <li><a  href="http://hotmart.net.br/show.html?a=I1535228F&pad=http://www.videoxpress.com.br/">Aprenda Com 2 Especialistas a Criar Vídeos Incríveis Para o Seu Negócio Usando Seu Smartphone com Ivan Oliveria</a></li>
        <li><a  href="http://hotmart.net.br/show.html?a=Q1971548F&ap=24b9&src=Luciano-Farias">As Últimas Estratégias de Marketing Desenvolvidas por Grandes Empresários  nos EUA com Luciano Farias</a></li>
        <li><a  href="http://hotmart.net.br/show.html?a=N2015296F&ap=4ce8&src=SVO-Natanael-Oliveira">Como Dobrar Suas Vendas Online em 15 Dias com Natanael Oliveira!</a></li>
        <li><a  href="http://hotmart.net.br/show.html?a=C2319983F&ap=a92e&src=Facebook-Essencial">Como Usar o Facebook Para Capturar Sua Lista de Clientes? com Camila Porto</a></li>
      </ul>
   </div>
</div>


