<div class="blperfil">
	<img src="{{ site.baseurl }}/assets/images/rodolfo-maciel.png" alt="Rodolfo Maciel">
   <div id="pname">Rodolfo Maciel</div>
   <div id="pperfil">
   <p>Olá sou fundador deste blog e esta iniciativa é para disseminar o conhecimento daquilo que eu acredito ser a melhor forma de empreendedorismo atualmente: o Negócio Digital.</p>
   </div>
</div>
<div class="blinsc">
   <a href="http://eepurl.com/9xcMD"><img src="{{ site.baseurl }}/assets/images/bl-inscricao.png" alt="Inscreva-se na Lista Negócios Digitais"></a>
</div>
<div class="blart">
   <header>
      <span>ARTIGOS MAIS LIDOS</span>
   </header>
   <div>
      <ul> 
        <li><a  href="{{ site.baseurl }}/As-5-dicas-secretas-para-voce-otimizar-sua-redacao-publicitaria/">As 5 dicas Secretas Para Otimizar Sua Redação Publicitária</a></li>
        <li><a  href="{{ site.baseurl }}/sua-unica--principal-chance-de-conquistar-seus-clientes/">Sua Única e Principal Chance de Conquistar a Atenção dos Seus Clientes</a></li>
        <li><a  href="{{ site.baseurl }}/mentalidade-copywriter/">Configure sua Mente para Ser um Grande Copywriter</a></li>
        <li><a  href="{{ site.baseurl }}/conecte-se-ao-seu-publico/">Atenção Copywiriters: Conectar-se ao Público Alvo é o Começo da Copy</a></li>
        <li><a  href="{{ site.baseurl }}/Os-4-elementos-secretos-duma-redacao-vencedora/">Os 4 elementos secretos da redação vencedora</a></li>
      </ul>
   </div>
</div>

<!--
<div class="blpalest">
	<a href=""><img src="{{ site.baseurl }}/assets/images/banner2.png" alt=""></a>
</div>
<div class="blliv">
	<a href=""><img src="{{ site.baseurl }}/assets/images/banner3.png" alt=""></a>
</div>
-->