<div class="lf">
    <div class="rdsocial">
         <nav>
            <ul>
                <li><a href="https://facebook.com/rodolfomaciel"><img src="{{ site.baseurl }}/assets/images/facebook-social-button.png" alt="Compartilhar no Facebook"/></a></li>
                <li><a href="https://plus.google.com/+RodolfoMaciel83"><img src="{{ site.baseurl }}/assets/images/google-plus-social-button.png" alt="Compartilhar no Google+"/></a></li>
                <li><a href="https://twitter.com/_rodolfomaciel"><img src="{{ site.baseurl }}/assets/images/twitter-social-button.png" alt="Compartilhar no Twitter"/></a></li>
                <li><a href="https://br.linkedin.com/in/rodolfomaciel/"><img src="{{ site.baseurl }}/assets/images/linkedin-social-button.png" alt="Compartilhar no Linkedin"/></a></li>
              </ul>
          </nav>
    </div>
    <div class="rdlegal">
        <nav>
            <ul>
               <li><a  href="{{ site.baseurl }}/sobre/">Sobre</a></li>
               <li><a href="{{ site.baseurl }}/servicos/">Serviços</a></li>
               <li><a href="http://eepurl.com/93FUj">Contato</a></li>
               <li><a href="{{ site.baseurl }}/termos/">Termos de Uso</a></li>
               <li><a href="{{ site.baseurl }}/politica/">Política de Privacidade</a></li>
            </ul>
       </nav>
    </div>
     <div class="rdinfo">
       <ul>
         <li>Copyright &copy; 2014 - Rodolfo Maciel - Todos os direitos reservados</li>
       </ul>
    </div>
</div>

