<head>
	<meta charset="utf-8"/>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="description" content="Blog sobre Marketing Digital e empreendedorismo online."/>
	<meta name="keywords" content="bons negócios, como ganhar dinheiro, como ganhar dinheiro na internet, trabalho em casa, ganhar dinheiro na internet, como ficar rico, trabalhar em casa, trabalhe em casa, negócios lucrativos, como ganhar dinheiro extra, como ganhar dinheiro pela internet"/>
    <meta name="author" content="{{ site.author }}"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% include opengraph.html %}
</head>
