<section class="cbmenu1">
<div class="alincb">
<nav>
<ul>
   <li><a href="{{ site.baseurl }">Home</a></li>
   <li><a href="{{ site.baseurl }}/sobre/">Sobre</a></li>
   <li><a href="{{ site.baseurl }}/contato/">Contato</a></li>
   <li><a href="{{ site.baseurl }}/conectar/">Conectar-se</a></li>
</ul>
</nav>
</div>
</section>
<section class="cbmenu2">
<div class="alincb">
<div class="cblogo"><h1><a href="#">Rodolfo Maciel</a></h1></div>
<div class="cbmenu">
 <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/artigos/">Artigos</a></li>
      <li><a href="{{ site.baseurl }}/palestras/">Palestras</a></li>
      <li><a href="{{ site.baseurl }}/livros/">Livros</a></li>
      <li><a href="{{ site.baseurl }}/cursos/">Cursos</a></li>
    </ul>
 </nav>
</div>
</div>
</section>

