<div class="sball">
<div class="assinar">
<div class="sbassin">
  <span>Receba nossas atualizações!</span>
  <input type="email">
  <input type="button" value="Assinar">
</div> 
</div>
<div class="ebooks">
<div class="sbebooks">
<img src="{{ site.baseurl }}/assets/images/influence-robert-cialdini.jpg" alt="influence-robert-cialdini">
  <div><a href="">Quero Minha <br>Cópia Grátis</a></div>
</div>
</div>
<!---
<div class="artigos">
<div class="sbartigos">
<img src="../sources/images/ebook1.jpg" alt="influence-robert-cialdini">
  <div><a href="">Quero Minha <br>Cópia Grátis</a></div>
</div>
</div>
-->
<div class="cursos">
<div class="sbcursos">
<img src="{{ site.baseurl }}/assets/images/faceb-camila.png" alt="facebook-essencial-camila-porto">
  <div><a href="">Quero Acessar <br>o Curso Grátis</a></div>
</div>
</div>
<div class="webinars">
<div class="sbwebinars">
<img src="{{ site.baseurl }}/assets/images/maratona-ijumper.png" alt="maratona-ijumper-3">
  <div><a href="">Quero Assistir <br>Agora</a></div>
</div>
</div>
</div>
